
/*
Couleurs Charte SNCF
*/
$sncf-orange-clair: #FFB612;
$sncf-orange-fonce: #E05206;
$sncf-vert-clair: #CCDC00;
$sncf-vert-fonce: #7AB800;
$sncf-bleu-1: #009AA6;
$sncf-bleu-2: #0088CE;
$sncf-violet-clair: #CB0044;
$sncf-violet-median: #A1006B;
$sncf-violet-fonce: #6E267B;
$sncf-noir: #3E3D40;
/*Ils sont plus foncÃ©s*/
$sncf-warm-gris-1: #E0DED8;
$sncf-warm-gris-3: #C7C7BA;
$sncf-warm-gris-5: #AEA79F;
$sncf-warm-gris-7: #988F86;
$sncf-warm-gris-9: #827786;
$sncf-warm-gris-11: #675C53;
/* Il sont plus clairs*/
$sncf-cool-gris-1: #E0E1DD;
$sncf-cool-gris-3: #BCBDBC;
$sncf-cool-gris-5: #B2B4B3;
$sncf-cool-gris-7: #9A9B9C;
$sncf-cool-gris-9: #747678;
$sncf-cool-gris-11: #4D4F53;

/*
Couleur application
*/

$bg-color : #444;
$red-gdg-color : #da483c;
$blue-gdg-color : #6388c5;
$green-gdg-color : #0c9a54;
$yellow-gdg-color : #f7c63d;
$font-color: $sncf-warm-gris-11;
$color-select : #3071a9;