@import "colors";
@import "speaker";



#conf{
	padding : 50px 100px;
	width: 100%;
	height: 100%;
	position: relative;
	color: white;

	.header-conf, .content-conf{
		width: 100%;		
		height: 100%;		
		position: absolute;
	}
	
	.header-conf{


		

		i{
			position: absolute;
			font-size: 5em;
			top: ($size-cirular / 4);
			left: (($size-cirular * 3) /4) - 20px;
			z-index: 2;
		}

		h1{
			font-size: 2.5em;
			margin: 0;
			position: absolute;
			height: $size-cirular;
			line-height: 2em;
			width: 800px;
			top: 0;
			left: ($size-cirular / 2);
			padding-left: ($size-cirular / 2) + 50px;
			border-radius: $size-cirular / 2;
		}


	}

	.header-conf.mobile  h1{
		background-color: $green-gdg-color;
	}
	.header-conf.cloud  h1{
		background-color: $blue-gdg-color;
	}
	.header-conf.web h1{
		background-color: $yellow-gdg-color;
	}
	.header-conf.discovery h1{
		background-color: $red-gdg-color;
	}

	.content-conf{
		top: $size-cirular + 100px;
		p{
			font-size: $font-size-content;
		}

		h2{
			font-size: $font-size-titles;
		}

		.conf-speakers{
			position: relative;
			margin-bottom: 10px;
		}

		.img-speaker{
			top:$size-cirular-xs;
			display: inline-block;
			top: $size-cirular-xs / 2;
		}



		.speaker-name{
			display: inline-block;
			height: $size-cirular-xs;
			line-height: $size-cirular-xs;
			position: relative;
			font-size: $font-size-content;
			left: $size-cirular-xs / 2;
		}

		.desc{
			width: 1200px;
			font-size: $font-size-content;
		}
	


	}

}

