@font-face {
    font-family: 'IconBitOne';
    src: url('../assets/fonts/IconBitOne.ttf');
}

@font-face {
    font-family: 'IconBitTwo';
    src: url('../assets/fonts/IconBitTwo.ttf');
}

@font-face {
    font-family: 'PixArrows';
    src: url('../assets/fonts/PixArrows.ttf');
}

@font-face {
    font-family: 'PixelInvaders';
    src: url('../assets/fonts/pixel_invaders.ttf');
}

@font-face {
    font-family: 'PixelCharas';
    src: url('../assets/fonts/PixelCharas.ttf');
}

@font-face {
    font-family: 'Spaiders';
    src: url('../assets/fonts/SPAIDERS.TTF');
}