@charset "UTF-8";
@import "compass";
@import "colors";


$width-block : 300px;
$width-block-last : 500px;


#menu{
    position: absolute;
    z-index: 100;
}

#menu > ul{
    border-left: solid 10px $color-select;
}

#menu ul{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay : 0s;
}

#menu ul.activ{
    width: $width-block;
    overflow: inherit;
    border-left: solid 0px $color-select;
}
#menu ul.ul_niv_2.activ{
    width: $width-block-last;
}

#menu ul ul{
    left: $width-block;
}




#menu li{
    border: solid $bg-color 10px;
    color: $font-color;
    text-align: center;
    background-color: white;
    /*-webkit-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;*/
}

#menu li.hover{
    color: white;
    background-color: $color-select;
}

#menu li.li_niv_0{

    width : $width-block;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay : 0s;

}

#menu li.li_niv_0 > .bg-last-li{
    //margin-top: 20px;
}


#menu li.li_niv_0.move{
    width: 800px;
    position:relative;
}

#menu #speakers-mobile.hover, #menu #confs-mobile.hover{ 
    background-color: $green-gdg-color;
}
#menu #speakers-cloud.hover, #menu #confs-cloud.hover{
    background-color: $blue-gdg-color;
}
#menu #speakers-web.hover, #menu #confs-web.hover{
    background-color: $yellow-gdg-color;
}
#menu #speakers-discovery.hover, #menu #confs-discovery.hover{
    background-color: $red-gdg-color;
}

#menu li.hover:after{
    font-family: FontAwesome;
    font-size: 4em;
    content: '\f105';
    position: relative;
    right: -93px;
    //top: 20px;
    line-height: 0;
}

#menu div.li_niv_0_content {
    position: relative;
    height: 100%;

    div.title{
        position: absolute;
        bottom: 20px;
        line-height: 0;
        font-size: 30px;
        width: 100%;
    }

    .icon{
        text-align: center;
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        margin-top: -0.5em;
        font-size: 8em;
    }

}

#menu li.li_niv_1{
    font-size: 2em;
    /*position: relative;*/
}

#menu li.li_niv_1.hover:after{
    /*position: absolute;*/
    right: -65px;    
    top: 30px;
}

#menu li.li_niv_2{
    font-size: 0.75em;
    display: block;
    position:relative;
    text-align: left;
    /*
    display: flex;
    justify-content: flex-start;
    align-items:stretch;
    position: relative;*/

    .img-speaker-parent{
        display: inline-block;
        height:100%;
        .img-speaker{
            display: inline-block;
            vertical-align:middle;
        }
    }

    .overflow-text{        
        vertical-align:middle;
        margin-left:10px;
        width:100%;
        display:inline-block;
        overflow: hidden;
        text-overflow : ellipsis;
        white-space: nowrap;
    }
    .img-speaker-parent + .overflow-text{        
        width:calc(100% - 120px);
        position:absolute;
        
    }
}

.valid-div{
    position: absolute;
    color: white;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
}

li.move.last > .valid-div:after, li.move.last > .li_niv_0_content > .valid-div:after {
    font-family: FontAwesome;
    font-size: 2em;
    content: '\f046';
    background-color: $color-select;
    color: white;
    width: 1.5em;
    //top: 20px;
    right: -1.5em;
    height: 100%;
    position: absolute;
}

.bg-last-li{
    position: absolute;
    top:0;
    height: 100%;
    left: 0;
    background-color: $color-select;
}

.bg-last-li.move:after{
    font-family: FontAwesome;
    font-size: 4em;
    content: '\f101';
    right: -1.5em;
    position: absolute;
}


#menu .titre{
    font-size: 30px;
}

/*
* 
* MIXINS
**/

@mixin height-mixin-percent($size){
    .h-#{$size}{
        height: calc((100% / #{$size}) - 20px);
        line-height: calc((100vh / #{$size}) - 20px); 
    }
    .h-#{$size} .circular-img-xs {
        height: calc((100vh / #{$size}) - 40px);
        width: calc((100vh / #{$size}) - 40px);
        border-radius: calc((100vh / #{$size}) - 40px);
        -webkit-border-radius: calc((100vh / #{$size}) - 40px);
        -moz-border-radius: calc((100vh / #{$size}) - 40px);
    }

    .top-#{$size}{
        //top: -(100vh/$size);
    }

    .top-db-#{$size}{
        //top: -((100vh/$size)*2);
    }
}

@for $i from 1 through 12{
    @include height-mixin-percent($i);
}
