@import "colors";
@import "vars";


.circular-img-xs {
	width: $size-cirular-xs;
	height: $size-cirular-xs;
	border-radius: $size-cirular-xs / 2;
	-webkit-border-radius: $size-cirular-xs / 2;
	-moz-border-radius: $size-cirular-xs / 2;
	margin-left: 15px;	
}

.circular-img {
	width: $size-cirular;
	height: $size-cirular;
	border-radius: $size-cirular / 2;
	-webkit-border-radius: $size-cirular / 2;
	-moz-border-radius: $size-cirular / 2;
	position: relative;
	left: 20px;
	top: 50px;
	margin-top: -$size-cirular;
}

.img-speaker.circular-img-xs {
	//top: -$size-cirular-xs-max / 2;
}

#speaker{
	padding : 50px 100px;
	width: 100%;
	height: 100%;
	position: relative;
	color: white;

	.header-speaker, .content-speaker{
		width: 100%;		
		height: 100%;		
		position: absolute;
	}
	
	.header-speaker{


		.img-speaker{
			position: absolute;
			top:$size-cirular;
			z-index: 2;
		}

		h1{
			font-size: 4em;
			margin: 0;
			position: absolute;
			height: $size-cirular;
			line-height: $size-cirular;
			width: 800px;
			top: 0;
			left: ($size-cirular / 2);
			padding-left: ($size-cirular / 2) + 50px;
			border-top-right-radius: $size-cirular / 2;
			border-bottom-right-radius: $size-cirular / 2;
		}

		.img-speaker.mobile ~ h1{
			background-color: $green-gdg-color;
		}
		.img-speaker.cloud ~ h1{
			background-color: $blue-gdg-color;
		}
		.img-speaker.web ~ h1{
			background-color: $yellow-gdg-color;
		}
		.img-speaker.discovery ~ h1{
			background-color: $red-gdg-color;
		}

	}

	.content-speaker{
		top: $size-cirular + 100px;
		p{
			font-size: $font-size-content;
		}

		.title{
			display: inline-block;
		}

		h2{
			font-size: $font-size-titles;
		}

		.bio{
			width: 1200px;
		}
	


	}

}


.img-acateland {
	background: url(../assets/images/speakers/acateland.jpg) no-repeat;
	background-size:contain;
	
}

.img-acharbonnier {
	background: url(../assets/images/speakers/acharbonnier.jpg) no-repeat;
	background-size:contain;
	
}

.img-amoussine-pouchkine {
	background: url(../assets/images/speakers/amoussine-pouchkine_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-aneveu {
	background: url(../assets/images/speakers/aneveu.jpg) no-repeat;
	background-size:contain;
	
}

.img-arichard {
	background: url(../assets/images/speakers/arichard_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-blegras {
	background: url(../assets/images/speakers/blegras_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-btalmard {
	background: url(../assets/images/speakers/btalmard_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-cbossard {
	background: url(../assets/images/speakers/cbossard.png) no-repeat;
	background-size:contain;
	
}

.img-cmottier {
	background: url(../assets/images/speakers/cmottier_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-eissartial {
	background: url(../assets/images/speakers/commitstrip_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-cwehrung {
	background: url(../assets/images/speakers/cwehrung_360x360.png) no-repeat;
	background-size:contain;
	
}

.img-dcavailles {
	background: url(../assets/images/speakers/dcavailles_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-dgageot {
	background: url(../assets/images/speakers/dgageot_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-dgirard {
	background: url(../assets/images/speakers/dgirard_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-emargraff {
	background: url(../assets/images/speakers/emargraff.jpg) no-repeat;
	background-size:contain;
	
}

.img-fbeaufort {
	background: url(../assets/images/speakers/fbeaufort_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-fcalzada {
	background: url(../assets/images/speakers/fcalzada_360x360.png) no-repeat;
	background-size:contain;
	
}

.img-fcampoy {
	background: url(../assets/images/speakers/fcampoy_360x360.png) no-repeat;
	background-size:contain;
	
}

.img-fkelly {
	background: url(../assets/images/speakers/fkelly.jpg) no-repeat;
	background-size:contain;
	
}

.img-fxrousselot {
	background: url(../assets/images/speakers/fxrousselot.jpg) no-repeat;
	background-size:contain;
	
}

.img-gdorne {
	background: url(../assets/images/speakers/gdorne_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-hgonzalez {
	background: url(../assets/images/speakers/hgonzalez_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-jpalies {
	background: url(../assets/images/speakers/jpalies.jpg) no-repeat;
	background-size:contain;
	
}

.img-jpgouigoux {
	background: url(../assets/images/speakers/jpgouigoux.jpg) no-repeat;
	background-size:contain;
	
}

.img-lchampenois {
	background: url(../assets/images/speakers/lchampenois_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-mancelin {
	background: url(../assets/images/speakers/mancelin_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-mboillod {
	background: url(../assets/images/speakers/mboillod_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-mbynens {
	background: url(../assets/images/speakers/mbynens_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-mchartier {
	background: url(../assets/images/speakers/mchartier_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-mgruaz {
	background: url(../assets/images/speakers/mgruaz_360x360.png) no-repeat;
	background-size:contain;
	
}

.img-mlux {
	background: url(../assets/images/speakers/mlux_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-pcharriere {
	background: url(../assets/images/speakers/pcharriere_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-rgoetter {
	background: url(../assets/images/speakers/rgoetter_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-rmenetrier {
	background: url(../assets/images/speakers/rmenetrier.jpg) no-repeat;
	background-size:contain;
	
}

.img-sdutton {
	background: url(../assets/images/speakers/sdutton_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-smoallic {
	background: url(../assets/images/speakers/smoallic_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-tchatel {
	background: url(../assets/images/speakers/tchatel_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-tguenoux {
	background: url(../assets/images/speakers/tguenoux_360x360.jpeg) no-repeat;
	background-size:contain;
	
}

.img-tleriche {
	background: url(../assets/images/speakers/tleriche_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-wchegham {
	background: url(../assets/images/speakers/wchegham_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-xhallade {
	background: url(../assets/images/speakers/xhallade_360x360.jpg) no-repeat;
	background-size:contain;
	
}

.img-tbd {
	background: url(../assets/images/speakers/unknown.png) no-repeat;
	background-size:contain;
	
}