<div id='menu'>
	<ul class='ul_niv_0'>
		<li ng-repeat='level0 in menus' class='li_niv_0 h-{{menus.length}}' directLast="{{leve0.directLast}}" ng-class="{last : level0.directLast}" id='{{level0.id}}'>
			<div class='li_niv_0_content'>
				<div class='title'>{{level0.label}}</div>
				<div class='icon fa fa-5x fa-{{level0.icon}}'></div>
			</div>			
			<div ng-if="level0.directLast" class="bg-last-li top-{{menus.length}}"></div>
			<div ng-if="level0.directLast" class="valid-div  top-db-{{menus.length}}"></div>
			<ul ng-if='level0.submenus' class='ul_niv_1'>
				<li ng-repeat='level1 in level0.submenus' class='li_niv_1 h-{{level0.submenus.length}}' id='{{level1.id}}'>
					{{level1.label}}
					<ul ng-if='level1.submenus' class='ul_niv_2'>
						<li ng-repeat='level2 in level1.submenus' class='li_niv_2 h-{{level1.submenus.length}} last' id='{{level2.id}}'>
							<div class="overflow-text">{{level2.label}}</div>	
							<div ng-if="level2.photo" class="img-speaker circular-img-xs {{level2.photo}}"></div>
							<div class='bg-last-li top-{{level1.submenus.length}}'></div>
							<div class='valid-div top-db-{{level1.submenus.length}}'></div>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>       